{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row text-center">

  <div class="jumbotron col col-lg-6 col-sm-12 jumbo-bg">
    <img src="{% static 'FRN_1432.jpg' %}" height=300 width=200>
    <p class="lead">Joseph Aviles</p>
    <hr class="my-4">
    <p>I like to code.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'contact' %}" role="button">Contact Me! <span class='fa fa-envelope-o fa-lg'></span></a>
  </div>

  <div class="col col-lg-6 col-sm-12">
    <div class="jumbotron jumbo-bg">
      <h1>Recent Projects:</h1>
      <hr class="my-4">

      <hr class="my-4">
    </div>
  </div>
</div>
{% endblock %}
