{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row text-center">

  <div class="jumbotron col col-lg-6 col-sm-12 jumbo-bg">
    <img src="{% static 'FRN_1432.jpg' %}" height=300 width=200 class='img-fluid'>
    <p class="lead">Joseph Aviles</p>
    <hr class="my-4">
    <p>I like to code.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'contact' %}" role="button">Contact Me! <span class='fa fa-envelope-o fa-lg'></span></a>
  </div>

  <div class="col col-lg-6 col-sm-12">
    <div class="jumbotron jumbo-bg">
      <h1>Recent Projects:</h1>
      <hr class="my-4">
        {% for project in project_list %}
        <div
        {% if project.pk != 1 %}
          onclick="window.location='{% url 'projects:detail' pk=project.pk%}';"
        {% else %}
          onclick="window.location='{% url 'home' %}';"
        {% endif %}
        style="cursor: pointer;">
          <h4>
              {{project.title}}</h4>
          <h5>{{project.pub_date}}</h5>
          <img src="{{project.image.url}}" height=300 width=300 class='img-fluid'>
          <p>{{project.summary}}</p>
          <hr class="my-4">
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
